<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Best com.movieapp.Movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="voteForBestMovie" method="GET">
  <p>com.movieapp.Movie Title: <input type="text" name="movieTitle" /></p>
  <p><input type="submit" value="Submit" /></p>
    <p th:text="'Your favorite movie is: ' + ${BestMovieVote}" />
    <a href="voteForBestMovieForm">Vote for your favorite movie!</a>
    <a href="/">Home</a>
</form>
</body>
</html>